*{
    padding: 0;
    margin:0;

}

.Container{
    display:flex;
    border-style:solid;
    border-color: lightskyblue;
    
}
.header{
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display:flex;
    justify-content:space-between;
    border-style: solid;
    border-color:gray;
    align-items:center;
    padding-left: 30px;
    padding-right: 40px;
    color:black;
    height:80px;
    width:100%;
    position:fixed;
}
.navigation {
    display:inline-block;
    padding: 20px 10px;
    
}
#logo {
    display:flex;
    align-self:center; 
    color:mediumaquamarine;
    flex-grow:1;
    border-style:solid;
    border-color: lightskyblue;
    z-index:1;

}
.content{
    display:flex;
    justify-content: space-between;
    border-style:solid;
    border-color: lightskyblue;
    padding-top:116px;
}
.column{
    display:flex;
    flex-direction:column;
    border-style:solid;
    border-color: black;
    text-align:left;
    
}
.story{
    border-style:solid;
    border-color: lightskyblue;
    margin:0;
    padding:0;
}
.column.large {
    width: 630px;
  }
  
  .column.medium {
    width: 300px;
  }
  
  .column.small {
    width: 240px;
  }