.Container{
    display:flex;
    border-style:solid;
    border-color: lightskyblue;
}
.header{    
    display:flex;
    align-items:center;
    height:80px;
    width:100%;
    position: fixed;
    top:0;
    z-index:1;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-style: solid;
    border-color:gray;
    background-color:white;
}
.navigation {
    display:inline-block; 
    padding-right: 40px;
    margin:0;
}
span{
    padding: 20px 10px;     
}
.navigation a{
    color:black;
}
#logo {
    display:flex; 
    align-items: center;
    color:mediumaquamarine;
    padding-left: 30px;
    flex-grow:1;
    border-style:solid;
    border-color: lightskyblue;
   
}
.content{
    display:flex;
    justify-content: space-between;
    border-style:solid;
    border-color: lightskyblue;
    padding-top:116px;
}
.column{
    display:flex;
    flex-direction:column;
    border-style:solid;
    border-color: black;
    text-align:left;
    
}
.story{
    display:flex;
    flex-direction: column;
    border-style:solid;
    border-color: lightskyblue;
    font-family: Georgia;
  font-size: 17px;
  color: black;
    margin:0;
    padding:0;
}   
.column.large {
    width: 630px;
  }
  
  .column.medium {
    width: 300px;
  }
  
  .column.small {
    width: 240px;
  }
 .image{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height:300px;
  text-align:center;
}
.tuna.story .tuna.image{
    display:flex;
    background-image:url("../img/img-story-main.png");
    background-position:left;
    font-size: 40px;
    text-align:left;    
}
.orca.story .earth.image{
    display:flex;
    background-image:url("../img/img-story-2.png");      
}
.burger.story .camera.image{
    display:flex;
    background-image:url("../img/img-story-3.png");   
}
.cat.story .cat.image{
    display:flex;
    background-image:url("../img/img-story-1.png");
}